body {
    background-image: url(questioning-concept-with-question-mark.jpg);
    background-size: cover;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 2px;
    border-radius: 20px;
    height: 325px;
    background-color: #a13c48;
}

.head-class {
    width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 0px;
}

#data {
    margin-top: 50px;
    align-content: center;
    justify-self: center;
    align-self: center;
}

h1 {
    background-color: lightgray;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}

input {
    height: 70px;
    width: 170px;
    margin-left: 150px;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    margin-left: 190px;
    height: 50px;
    width: 100px;
}

.btn h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.winBox {
    height: 60px;
    width: 150px;
    margin-left: 165px;
    margin-bottom: 20px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
}

#result {
    padding-top: 20px;
}